<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <main>
        <h1>cadastro</h1>
        <form class="cadastro">
            <div>
                <input placeholder="nome" type="text">
            </div>
            <div>
                <input placeholder="CPF" type="number">
            </div>
            <div>
                <input placeholder="telefone" type="tel">
            </div>
            <div>
                <input placeholder="Email" type="email">
            </div>
            <div>
                <input placeholder="senha" type="password">
            </div>
            <div>
                <input placeholder="confime senha " type="password">
            </div>
            <div>
                <input placeholder="idade" type="date">
            </div>
            <div>
                <input placeholder="estado" type="text">
            </div>
            <div>
                <input placeholder="estado" type="text">
            </div>

        </form>
    </main>

</body>
</html>
